In [2]:
# Import Libraries
import pandas as pd
import mysql.connector

In [3]:
# Load Dataset
df = pd.read_csv(r"D:\BTech\ST2025\Capstone_Project\heart_attack_prediction\data\heart.csv") 
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

# Connecting MYSQL

In [4]:
from getpass import getpass

In [5]:
# prompt user to get password securely
password = getpass.getpass("Enter your MySQL password: ")

Enter your MySQL password:  ········

In [7]:
# MYSQL Connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password= password,
    database="heart_db"
)

# Test connection
print(f'Succesfully Connected to: {conn.server_info}')

Succesfully Connected to: 8.0.42

In [8]:
# Creating a Cursor
cursor = conn.cursor()

In [9]:
# Creating a table
create_table_query = """
CREATE TABLE heart_data (
    Age INT,
    Sex VARCHAR(10),
    ChestPainType VARCHAR(20),
    RestingBP INT,
    Cholesterol INT,
    FastingBS INT,
    RestingECG VARCHAR(20),
    MaxHR INT,
    ExerciseAngina VARCHAR(10),
    Oldpeak FLOAT,
    ST_Slope VARCHAR(20),
    HeartDisease INT
);
"""
cursor.execute(create_table_query)

In [10]:
# Insert Data from DataFrame to MySQL
for _, row in df.iterrows():
    insert_query = """
    INSERT INTO heart_data (
        Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS,
        RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
    """
    values = tuple(row)
    cursor.execute(insert_query, values)

conn.commit()
print("Data inserted into `heart_data` table successfully.")

Data inserted into `heart_data` table successfully.

In [11]:
# Close Connection
cursor.close()
conn.close()